body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  margin: 0;
  text-align: center;
}
.subsection {
  width: 100vw;
}
.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

input[type="file"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
